<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enhancing</title>
</head>
<body>
    <div class="row">
        <div class="column">
          <div>
            <h3>Histogram Equalization</h3>
            <img src="{{ image }}" alt="User Image"><br>
            <a>PSNR: {{psnrHE}}</a><br>
            <a>SSIM: {{ssimHE}}</a>
          </div>
          <!--<img src="rocks.jpg">-->
          
        </div>
        <div class="column">
          <!--<img src="rocks.jpg">-->
        </div>
        
      </div>
</body>
</html>